* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ------------------------ */
/* primitive styles */
.center {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

/* ------------------------ */
/* game board */
.game__board {
  position: relative;

  margin-top: 2rem;
  height: 70vh;
  background: #000000;
  border: 1px solid green;
}

/* ------------- */
/* snake grid */
.snake__grid {
  place-items: center;
}

.first {
  position: absolute;
  width: 10px;
  height: 10px;
  background: #fff;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* ------------- */
/* food */
.food {
  position: absolute;

  width: 10px;
  height: 10px;
  background: #fff;
  border-radius: 50%;
}
